.divIcon {
  width: 50px;
  padding-left: 16px;
  padding-bottom: 2px;
}
.editProfile {
  margin-top: 80px;
  font-size: 4.5rem;
}
.striveDiv {
  background-color: grey;
}
.lingue {
  margin: 0;
  font-size: 175%;
}
.buttonProfile {
  letter-spacing: 4px;
}
.buttonProfile1 {
  letter-spacing: 4px;
  scale: 1.3;
  margin-right: 60px;
  margin-top: 20px;
}
.logo {
  width: 7%;
}
.selectedString:hover {
  color: white !important;
}
