.divIcon {
  width: 50px;
  padding-left: 16px;
  padding-bottom: 2px;
}
.editProfile {
  margin-top: 1.3rem;
  font-size: 4.5rem;
}
.striveDiv {
  background-color: rgb(51, 51, 51);
}
.lingue {
  margin: 0;
  font-size: 175%;
}
.buttonProfile {
  letter-spacing: 4px;
}
.buttonProfile1 {
  letter-spacing: 4px;
  scale: 1.3;
  margin-right: 60px;
  margin-top: 20px;
}
.logo {
  width: 7%;
}
.selectedString:hover {
  color: white !important;
}
.footerString:hover {
  text-decoration: underline !important;
}
.posterSelected:hover {
  box-shadow: 0 2px 0px rgb(135, 135, 135) !important;
}
.bgMain {
  background-color: rgb(18, 18, 18);
}
